<div class="container my-5">
    <h1 class="lead">My Address</h1>
    <button class="btn btn-primary rounded-0" data-bs-toggle="modal" data-bs-target="#newaddressModal">Add New</button>
    <div class="row my-5 gx-5">
        {% for address in customer.addresses %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {{ address | format_address }}
                </div>
                <div class="card-footer">
                    <form action="/account/addresses/{{ address.id }}" method="post" data-confirm-message="Delete Address">
                        <input type="hidden" name="_method" value="delete">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <button class="btn btn-primary rounded-0" 
                            data-bs-toggle="modal" 
                            data-bs-target="#newaddressModal" 
                            data-first-name="{{ address.first_name }}" 
                            data-last-name="{{ address.last_name }}" 
                            data-company-name="{{ address.company_name }}" 
                            data-address1="{{ address.address1 }}" 
                            data-address2="{{ address.address2 }}" 
                            data-city="{{ address.city }}" 
                            data-country="{{ address.country }}" 
                            data-province="{{ address.province }}" 
                            data-zip="{{ address.zip }}" 
                            data-phone="{{ address.phone }}">Update</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="newaddressModal" tabindex="-1" aria-labelledby="newAddressModallabel" aria-hidden="true">
    {% form 'customer_address', customer.new_address %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="newAddressModallabel">Add New Address</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <div class="col-12 mb-3">
                    <label for="AddressFirstNameNew" class="form-label">First Name</label>
                    <input type="text" name="address[first_name]" value="{{ form.first_name }}" id="AddressFirstNameNew" class="form-control">
                </div>
                <div class="col-12 mb-3">
                    <label for="AddressLastNameNew" class="form-label">Last Name</label>
                    <input type="text" name="address[last_name]" value="{{ form.last_name }}" id="AddressLastNameNew" class="form-control">
                </div>
                <div class="col-12 mb-3">
                    <label for="AddressCompanyNew" class="form-label">Company Name</label>
                    <input type="text" name="address[company_name]" value="{{ form.company_name }}" id="AddressCompanyNew" class="form-control">
                </div>
                <div class="col-12 mb-3">
                    <label for="AddressAddress1New" class="form-label">Address 1</label>
                    <input type="text" name="address[address1]" value="{{ form.address1 }}" id="AddressAddress1New" class="form-control">
                </div>
                <div class="col-12 mb-3">
                    <label for="AddressAddress2New" class="form-label">Apartment, Suite, etc.</label>
                    <input type="text" name="address[address2]" value="{{ form.address2 }}" id="AddressAddress2New" class="form-control">
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-md-4 mb-3">
                        <label for="AddressCityNew" class="form-label">City</label>
                        <input type="text" name="address[city]" value="{{ form.city }}" id="AddressCityNew" class="form-control">
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <label for="AddressCountryNew" class="form-label">Country</label>
                        <select name="address[country]" id="AddressCountryNew" class="form-control">{{ all_country_option_tags }}</select>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <label for="AddressProvinceNew" class="form-label">Province</label>
                        <select name="address[province]" id="AddressProvinceNew" class="form-control">
                            {% comment %} {{ all_country_option_tags }} {% endcomment %}
                        </select>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <label for="AddressZipNew" class="form-label">Postal / Zip Code</label>
                    <input type="text" name="address[zip]" value="{{ form.zip }}" id="AddressZipNew" class="form-control">
                </div>
                <div class="col-12 mb-3">
                    <label for="AddressPhoneNew" class="form-label">Phone Number</label>
                    <input type="text" name="address[phone]" value="{{ form.phone }}" id="AddressPhoneNew" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Create Address</button>
            </div>
        </div>
    </div>
    {% endform %}
</div>

<script>
    const addressModal = document.getElementById('newaddressModal');
    addressModal.addEventListener('show.bs.modal', (event) => {
        const button = event.relatedTarget;
        
        const firstName = button.getAttribute('data-first-name');
        const lastName = button.getAttribute('data-last-name');
        const companyName = button.getAttribute('data-company-name');
        const address1 = button.getAttribute('data-address1');
        const address2 = button.getAttribute('data-address2');
        const city = button.getAttribute('data-city');
        const country = button.getAttribute('data-country');
        const province = button.getAttribute('data-province');
        const zip = button.getAttribute('data-zip');
        const phone = button.getAttribute('data-phone');
        
        const modalBody = addressModal.querySelector('.modal-body');
        
        modalBody.querySelector('#AddressFirstNameNew').value = firstName || '';
        modalBody.querySelector('#AddressLastNameNew').value = lastName || '';
        modalBody.querySelector('#AddressCompanyNew').value = companyName || '';
        modalBody.querySelector('#AddressAddress1New').value = address1 || '';
        modalBody.querySelector('#AddressAddress2New').value = address2 || '';
        modalBody.querySelector('#AddressCityNew').value = city || '';
        modalBody.querySelector('#AddressCountryNew').value = country || '';
        modalBody.querySelector('#AddressProvinceNew').value = province || '';
        modalBody.querySelector('#AddressZipNew').value = zip || '';
        modalBody.querySelector('#AddressPhoneNew').value = phone || '';
    });
</script>
