<section class="container py-4">
    {{ section.settings.title }}
    <div class="row">
    {% comment %} <div class="card-flex d-flex flex-wrap justify-content-between g-5"> {% endcomment %}
    {%  for product in collections[section.settings.featute_collection].products %}
        {%  assign image = product.featured_media.preview_image %} 
        <div class="col">
            <div class="card" style="width: 18rem;">
                {%  if image != blank %} 
                    <img class="card-img-top" src="{{ image |  img_url: 'medium' }}" alt="{{ product.title }}">
                    {%  else %}
                    {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
                {% endif %} 
                <div class="card-body">
                <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                <p>{{ product.price |  money_with_currency}}</p> 
                </div>
            </div>
        </div>
    
     {% endfor %}
     </div>
</section>

{%  schema  %} 
{
    "name":"Feature Collection",
    "class": "feature-collection-section",
    "settings": [
        {
            "type": "collection",
            "id": "featute_collection",
            "label": "Feature Collection",

        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default":"Feature COllection"
        }
    ],
    "presets": [
        {
                "category":"Collection",
                "name": "Feature Collection"
        }
    ]
}
{% endschema %} 