{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <img class="img-fluid" src="{{ product_image | img_url: 'large' }}" alt="{{ product_image.alt }}" id="productMainImage"> 
      {% for image in product.images %}
        <img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt }}">
      {% endfor %}
    </div>
    <div class="col-md-6 col-12">
      
    {% form 'product', product, class: "product-form", id: "AddToCartForm" %}
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'title' %}
          
           <h1>{{ product.title }}</h1>{% comment %} 
<!-- Example: Display custom metafield under product description -->
<div class="product-metafields">
  {% if product.metafields.custom_fields.custom_text_field %}
   test nme <p>{{ product.metafields.custom_fields.custom_text_field }}</p>
  {% endif %}
</div>
<!--------------------------------------metafield Guruji----------------------------------------  -->
          {% assign test = product.metafields.global.test-product.value %}
{{ test.title }}
{{ product.metafields.global.test-product.title }}
{% endcomment %}
<!------------------------------------------------------------------------------------------------------------------------------  -->


   {% assign product_name = product.metafields.custombottom.selected_product_id.value %}
               {{ product_name.title }}
           {% for variant in product_name.variants %}
             {{ variant.title }}
             {% endfor %}

<!------------------------------------------------------------------------------------------------------------------------------  -->
        {% assign top_products = product.metafields.custombottom.top_product.value %}
            {% assign bottom_products = product.metafields.custombottom.bottom_product.value %}
               {{ top_products.title }}<br>{{ top_products.price | money_with_currency }}<br>
            {% for variant in top_products.variants %}
             <!-- {{ variant.title }} -->
                     <input 
          class="topappend" 
          type="radio" 
          id="{{ variant.id }}" 
          data-top-product-price="{{ variant.price | money_with_currency }}" 
          name="top-variant-id" 
          value="{{ variant.id }}" 
          form="product-form-template--22811318583601__main"
          {% if forloop.first %} checked{% endif %}
        >
        <label for="{{ variant.id }}">{{ variant.title }}</label>
             {% endfor %}<br>
               {{ bottom_products.title }}<br>
            {% for varian in bottom_products.variants %}
            {% comment %} {{ varian.title }}{% endcomment %}
                           <input 
          class="topappends" 
          type="radio" 
          id="{{ varian.id }}" 
          data-top-product-price="{{ varian.price | money_with_currency }}" 
          name="top-variant-id" 
          value="{{ varian.id }}" 
          form="product-form-template--22811318583601__main"
          {% if forloop.first %} checked{% endif %}
        >
               <label for="{{ varian.id }}">{{ varian.title }}</label>
             {% endfor %}
         
          
          <!------------------------------>


          {% when 'price' %}
            <p>{{ product.price | money_with_currency }}</p>
          {% when 'variant_selector' %}
            <div class="mb-3">
              <label for="variantSelect" class="form-label">Variants</label>
              <select name="variant_id" id="variantSelect" class="form-select">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option value="{{ variant.id }}">{{ variant.title }}</option>
                  {% else %}
                    <option value="{{ variant.id }}" disabled="disabled">{{ variant.title }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
            {%  when 'variant_selector_color' %} 
              <div class="mb-3">
                <label for="colorSelect" class="form-label">Color</label>
                <select name="color_id" id="colorSelect" class="form-select">
                  {% assign colorVariants = product.variants | where: "option1", "Color" %}
                  {% for variant in colorVariants %}
                    {% if variant.available %}
                      <option value="{{ variant.id }}">{{ variant.option1 }}</option>
                    {% else %}
                      <option value="{{ variant.id }}" disabled="disabled">{{ variant.option1 }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div> 
          {% when 'quantity' %}
            <div class="mb-3">
          <label for="Quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="Quantity" value="1" min="1">
        </div>
          {% when 'checkout_buttons' %}
               
        <button type="submit" name="add" id="AddToCart" class="btn btn-secondary btn-lg w-100 rounded-0 mb-3">Add To Cart</button>
        {% if section.settings.dynamic_buttons_checkbox == true %}
          {{ form | payment_button }}
        {% endif %}
          {% when 'description' %}
            <div class="col">
        {{ product.description }}
      </div>
    {% if product.metafields.custom.custom_field %}
  <div class="product-custom-field">
    <p>Custom Metafield Value: {{ product.metafields.custom.custom_field }}</p>
  </div>
{% else %}
  <p>No custom metafield found.</p>
{% endif %}


          {% else %}
            
        {% endcase %}
        {% endfor %}   
        
        {% comment %}{% endcomment %}
        
     
      {% endform %}
      
    </div>
</div>



{% schema %}
{
    "name": "Product",
    "settings": [
        {
            "type": "checkbox",
            "id": "dynamic_buttons_checkbox",
            "label": "Enable Dynamic Buttons",
            "default": false
        }
    ],
 
    "blocks": [
        {
          "type": "title",
          "name": "Title",
  
        },
        {
          "type": "price",
          "name": "Price",
    
        },
        {
          "type": "variant_selector",
          "name": "Variant Selector",
  
        },
        {
          "type": "variant_selector_color",
          "name": "Variant Selector Color",
        
        },
        {
          "type": "quantity",
          "name": "Quantity",
     
        },
        {
          "type": "checkout_buttons",
          "name": "Checkout Buttons",
        
        },
        {
          "type": "description",
          "name": "Description",
         
        }
    ]
}
{% endschema %}