{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}

<h1>{{ article.title }}</h1>
{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
{% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'abbreviated_date' }}</time>{% endcapture %}
{% comment %} {{ article.author }} @ {{ article.created_at }} {% endcomment %}
<div class="position-relative text-center bg-light p-3 p-md-5">
<div class="col-md-5 p-lg-5 mx-auto my-5">
  <h1 class="display-4">{{ article.title }}</h1>
  {% comment %} <p class="lead"> {{ author }} / {{ date }} </p> {% endcomment %}
  <p class="lead">{{ author }} / {{ date }}</p>

</div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <div>{{ article.content }}</div>
      <div class="comment-section">
      
{% if blog.comments_enabled? %}
<h2>{{ number_of_comments }} comments{% if number_of_comments > 1 %}s{% endif %} </h2>
  {% paginate article.comments by 5 %}
    {% for comment in article.comments %}
      
      <div class="card shadow rounded-0 my-3">
        <div class="card-header">
         by {{ comment.author }} @ {{ comment.created_at | date: format: 'long' }}
        </div>
        <div class="card-body">
          <div>{{ comment.content }}</div>
        </div>
       
        
      </div>
    {% endfor %}
 
      <!-- </div> -->
    <!-- </div> -->
    
     {% endpaginate %}
  </div>
</div>
<div class="col-12 col-md-4">
  <div class="row">
    {% comment %} <div class="col-3"> {% endcomment %}
      <div class="card">
        {% assign custom_product = article.metafields.custom.custom_blog_product.value %}
       <a href="{{ custom_product.url }}"> <img src="{{ custom_product | img_url: 'medium' }}" alt="{{ custom_product.title }}"></a>
        <div class="card-body">
          <div class="custom-product">
            <!-- <img src="{{ article.metafields.custom.custom_blog_product | img_url: 'medium' }}" alt="{{ custom_product.title }}"> -->
           {% if custom_product %}
             <h2>Custom Products </h2>
           
             <p>Title: {{ custom_product.title }}</p>
             <p>Price: {{ custom_product.price }}</p>
             
         
            
             
           {% else %}
             <p>No custom product availablesss.</p>
           {% endif %}
         </div>
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  </div>
  <h>devloper</h>

  




</div>

  <div>
    {% form 'new_comment', article %}
      {{ form.errors | default_errors }}
      {% for error in form.errors %}
        <div class="alert alert-danger">
          {% if error == 'form' %}
            {{ form.errors.messages[error] }}
          {% else %}
            {{ form.errors.translated_fields[error] }}: {{ form.errors.messages[error] }}
          {% endif %}
        </div>
      {% endfor %}
      
     
      <label for="CommentAuthor">name</label>
      <input type="text" name="comment[author]" id="CommentAuthor" placeholder="name" value="{{ form.author }}" autocapitalize="words">

      <label for="CommentEmail">email</label>
      <input type="email" name="comment[email]" id="CommentEmail" placeholder="email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

      <label for="CommentBody">message</label>
      <textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

      <input type="submit" value="post">
    {% endform %}
  </div>
{% endif %}
