<div class="container">
  {% paginate collection.products by 4 %}
    <div class="row">
      <h1 class="text-center">{{ collection.title }}</h1>
    </div>
    {% comment %} <div class="row justify-content-center">
      <select name="sorting" id="sort_by" class="form-select form-select-sm w-25 ">
        {% for option in collection.sort_options %}
          <option value="{{ option.value }}"   {% if option.value == collection.sort_by %} selected{% endif %} >            
          {{ option.name }}</option>          
        {% endfor %}
      </select>
    </div>    {% endcomment %}
    <div class="row justify-content-center">
  <select name="sorting" id="sort_by" class="form-select form-select-sm w-25">
    {% assign default_sort = 'date' %}  {# Adjust this to the actual value for "Date, new to old" #}
    {% for option in collection.sort_options %}
      {% if option.value == collection.sort_by or (collection.sort_by == blank and option.value == default_sort) %}
        <option value="{{ option.value }}" selected>
      {% else %}
        <option value="{{ option.value }}">
      {% endif %}
        {{ option.name }}
      </option>
    {% endfor %}
  </select>
</div>


    <div class="row justify-content-centermy-5">
      {% for product in collection.products %}
        <div class="col-3 g-2">
          <div class="card" style="width: 18rem;"> 
            {% assign image = product.featured_media.preview_image %}
            {% if image != blank %}
              <img class="card-img-top" src="{{ image | img_url: 'medium' }}" alt="{{ product.title }}">
            {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
            {% endif %}
            <div class="card-body">
              <h3><a href="{{ product.url }}">{{ product.title | truncate: 15 }}</a></h3>
              <p>{{ product.price | money_without_trailing_zeros }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% render 'pagination', paginate: paginate   %} 
  {% endpaginate %}
</div>



