
<div class="container my-4 text-center">
  {% paginate search.results by 10 %}
  <div class="row">
    <form action="/search" method="get" role="search">
    <input type="search" name="q" value="{{ search.terms | escape }}">
    <div class="form-check form-check-inline">
      <input type="checkbox" id="product_type" name="type" value="product">
      <label class="form-check-label" for="product_type">Product</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" id="product_type" name="type" value="article">
      <label class="form-check-label" for="product_type">Article</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" id="product_type" name="type" value="page">
      <label class="form-check-label" for="product_type">Page</label>
    </div>
    <button type="submit">search</button>
  </form>
  </div>




<div class=" row row-cols-3 g-2 ">
  {% if search.performed %}
    {% for item in search.results %}
      <div class="card shadow">
        <div class="card-body">
          {% if item.featured_image %}
            <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
              {{ item.featured_image.src | img_url: 'small' | img_tag: item.featured_image.alt, 'card-img-top'  }}
            </a>
          {% endif %}
          <h5>{{ item.title | link_to: item.url }}</h5>
          <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
       
        </div>
      </div>
      {% else %}
      no results
    {% endfor %}
    </div>
  {% endif %}
  <div class="row">
    {%  render 'pagination', paginate:paginate %} 
  </div>

  {% comment %} {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %} {% endcomment %}
{% endpaginate %}
</div>